:root {
  --page-bg: #ffffff;

  --text: #ffffff;

  --main-blue: #10A8C9;
  --main-blue-light: #11B7DB;
  --main-blue-dark: #0E97B5;

  --secondary-blue: #E8F7FA;
  --secondary-blue-dark: #10A8C933;

  --grey-light: #D7DBE2;
}
