@font-face {
  font-family: 'T-Star Pro';
  src: local('../../public/assets/fonts/T-StarPro/stylesheet.scss') format("truetype");
}

html,
body {
  height: 100%;
}

body {
  background: var(--page-bg);
  font-family: 'T-Star Pro', sans-serif;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: flex;
  flex-flow: column;
  height: 100%;
  overflow: hidden;
}